@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons > * {
    max-width: 200px;
}

.title {
    text-align: center;
}

h4 {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000000;
}